{% extends "layout.html" %}

{% block title %}
    Add User
{% endblock %}

{% block content %}
    <div class="bg-gray-800/50 backdrop-blur-xl shadow-md rounded-lg p-6">
        <h1 class="text-4xl font-bold mb-8 text-white">Add a New User</h1>

        <form action="{{ url_for('user_add') }}" method="post">
            <div class="mb-4">
                <label for="username" class="block text-gray-300 font-bold mb-2">Username</label>
                <input type="text" id="username" name="username" required
                       class="bg-gray-700 text-white placeholder-gray-400 border border-gray-600 rounded-md py-2 px-4 w-full focus:outline-none focus:ring-2 focus:ring-indigo-500">
            </div>
            <button type="submit"
                    class="bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded-md flex items-center">
                <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                </svg>
                Add User
            </button>
        </form>
    </div>
{% endblock %}
